@import 'bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
    font-family: "League Spartan", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #2e2e2e;
  font-family: "League Spartan", serif;
  color: #abc4c8;
}

.navbar {
  background-color: #000000;
  color: #abc4c8;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.navbar:hover {
  background-color: #000000;
  color: #136ebf;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.add-to-cart-button {
  background-color: #136ebf;
  border: none;
  font-size: 24px;
}

.add-to-cart-button:hover {
  background-color: #268de7;
  border: none;
}

.button-link {
  border: none;
  padding: none;
  background-color: rgb(255, 255, 255, 0);
  color: #abc4c8;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.button-link:hover {
  border: none;
  padding: none;
  background-color: rgb(255, 255, 255, 0);
  color: #136ebf;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.active-button-link {
  border: none;
  padding: none;
  background-color: rgb(255, 255, 255, 0);
  color: #136ebf;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.active-button-link:hover {
  border: none;
  padding: none;
  background-color: rgb(255, 255, 255, 0);
  color: #136ebf;
  font-family: "League Spartan", serif;
  font-size: 24px;
  font-weight: 600;
}

.navlink {
  padding-top: 10px;
}

.blue-button {
  background-color: #136ebf;
}

.link:hover {
  cursor: pointer;
}

.strong {
  font-weight: 600;
}

.flexdiv {
  display: flex;
  flex: 1 1 0;

}

.flexdiv-column {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
}
